<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inventory Management Software</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <style>
  .navbar{
    padding: 3vh 1vh 3vh 1vh;
    font-size: 3vh;
    background-color: #0d1225;
  }
  .br{
   
    margin-bottom: 0%;
    font-size: 4vh;
    font-weight: bolder;
    font-style: italic;

  }
  .logo{
    color: #ff5c00;
  }
  </style>

<!--TOP NAVIGATION will remain fix-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class=" navbar br navbar-brand" href="#"><span class="logo">Inventory</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> User</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--Section of a page that will change-->
<div class="box-main1">
  <div class="box-main2">
    <div style="position:absolute; top:10px; left: 10px; width: 95%;height: 95%;">
        <h2 class="heading1">DASHBOARD</h2>
        <br>
        <div >
            <div class="summary">
             <div style="background-color: #898b94; height: 50px"><h2 class="heading2">SUMMARY</h2></div>
              <section class="summary" >
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card"  style="background: rgb(238, 235, 47); ">
                            <h3>Total Products</h3>
                            <h3>3000</h3>
                        </div>
                        <div class="card"  style="background: rgb(240, 88, 88); ">
                          <h3>Out of Stock</h3>
                          <h3>50</h3>
                        </div>
                        <div class="card"  style="background: rgb(91, 178, 228); ">
                          <h3>Most Stock</h3>
                          <h3>20</h3>
                        </div>
                        
                    </div>
                  </div>
              </section>
              </div>
              
              <div class="table"style=" position : absolute; top: 50%;height:50%; background-color: white; height: ">
                <div style="background-color: #898b94; height: 50px">
                  <h2 class="heading2" style="color: black;">Recently Added Items</h2>
                </div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                  <table class="table table-bordered table-striped mb-0">
                    <thead>
                      <tr>
                        <th scope="col">S.NO</th>
                        <th scope="col">Product Id</th>
                        <th scope="col">User Id</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>PD1</td>
                        <td>UD5</td>
                        <td>40</td>
                        <td>4999</td>
                        <td>28-7-2021</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>PD4</td>
                        <td>UD8</td>
                        <td>35</td>
                        <td>5999</td>
                        <td>31-7-2021</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>PD54</td>
                        <td>UD4</td>
                        <td>20</td>
                        <td>999</td>
                        <td>28-6-2021</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>PD2</td>
                        <td>UD5</td>
                        <td>16</td>
                        <td>3909</td>
                        <td>18-7-2021</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>PD1</td>
                        <td>UD5</td>
                        <td>55</td>
                        <td>8999</td>
                        <td>2-7-2021</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>PD1</td>
                        <td>UD5</td>
                        <td>99</td>
                        <td>399</td>
                        <td>30-7-2021</td>
                      </tr>
                    </tbody>
                  </table>
                
                </div>
              </div>
          
          

        </div>
    </div>
   
  </div>

</div>

<!--LEFT DIV OF THE SCREEN will remain fix-->
<div class="page__sidebar mCustomScrollbar _mCS_2 mCS-autoHide" data-mcs-theme="light-thin"><div id="mCSB_2" class="mCustomScrollBox mCS-light-thin mCSB_vertical mCSB_inside" tabindex="0" style="max-height: none;"><div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:100px; left:0;" dir="ltr">
  
  <ul class="nav nav-stacked nav--features">
    <li id="dashboard" class="">
      <a ng-click="trackSideNavClick($event)" href="" title="Dashboard">
          
          <span class="caption">DASHBOARD</span>
      </a>
  </li>
  <li id="inventory" class="">
    <a ng-click="trackSideNavClick($event)" href="" title="Inventory">
        
        <span class="caption">MANAGE<br>INVENTORY</span>
    </a>
</li>
<li id="products" class="">
  <a ng-click="trackSideNavClick($event)" href="" title="Products">
      
      <span class="caption">PRODUCTS</span>
  </a>
</li>
<li id="orders" class="">
  <a ng-click="trackSideNavClick($event)" href="" title="Orders">
      
      <span class="caption">ORDERS</span>
  </a>
</li>

<li id="account-details" class="">
  <a ng-click="trackSideNavClick($event)" href="" title="Account Details">
      
      <span class="caption">ACCOUNT<br>DETAILS</span>
  </a>
</li>

<li id="contact-details" class="">
  <a ng-click="trackSideNavClick($event)" href="" title="Contact Details">
      
      <span class="caption">CONTACT<br>DETAILS</span>
  </a>
</li> 

  </ul>

</div>



</body>
</html>
